*, *::after, *::before{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 6em;
}
.background{
    width: 47em;
    height: 43.75em;
    border-radius: 10px;
    background: linear-gradient(45deg, #2B193D, #4B8F8C)    ;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    background: black;
    color: white;
    font-size: 8em;
    font-weight: bold;
    user-select: none;
}
.number:hover{
    background: #B5FED9;
    color: black;
}
.title-content {
    font-size: 4em;
    margin-bottom: 0.2em;
    color: white;
    user-select: none;
}
.bottom-btns button{
    margin: 2em 0.25em;
    padding: 0.70em;
    border-radius: 30%;
    font-size: 1.5em;
    background: white;
    border: none;
    font-weight: bold;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guest-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-btns button:hover{
    background: #B5FED9;
    color: black;
    cursor: pointer;
}
#reset{
    padding: 0.6em 1em;
    font-size: 2em;
    margin: 1em 0 3em;
    font-weight: bold;
}
#reset:hover{
    cursor: pointer;
    background: #B5FED9;
}
.leader-div{
    display: block;
    margin: 0 auto;
    width: 20em;
    height: 2em;
}
#leader{
    color: white;
    font-size: 2.2em;
    margin: 0;
}
@media (max-width: 700px){
    .main{
        align-items: start;
    }
    .container{
        gap: 1em;
        flex-direction: column;
    }
    .title-content{
        margin: 0;
    }
    .bottom-btns button{
        padding: 0.5em;
        font-size: 1.2em;
        margin: 1em 0.1em;
        align-items: center;
    }
    .background{
        height: 30em;
        border-radius: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .number{
        width: 1.2em;
        height: 1.2em;
        font-size: 7em;
        cursor: pointer;
    }
    .title-content{
        font-size: 3em;
    }
    #reset{
        font-size: 1em;
        margin: 1em 0 3em;
        border-radius: 10px;
    }
    #leader{
        font-size: 2em;
    }
}
